.card {

    background-color: beige;


}


.custom-card { 

    height: 260px;

}

/* ProductCard.css or your main CSS file */
.card-img-top {
    width: 100%; /* Set the width to your desired fixed card width */
    height: 100px; /* Set the height to your desired fixed card height */

  }
  
  