.card {

    background-color: beige;


}


.custom-card { 

    height: 260px;

}

/* ProductCard.css or your main CSS file */
.card-img-top {
    width: 100%; /* Set the width to your desired fixed card width */
    height: 100px; /* Set the height to your desired fixed card height */

  }

 /* ProductCard.css */
.home-product-card .card-img-top{
    /* Define styles for Home product cards */
    width: 100%; /* Set the width to your desired fixed card width */
    height: 100px; /* Set the height to your desired fixed card height */

  }
  
.category-product-card .card-img-top{
    /* Define styles for category product cards */
    width: 100%; /* Set the width to your desired fixed card width */
    height: 220px; /* Set the height to your desired fixed card height */

  }
   
  
  